<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your forget password email!</h1>
    <br>
    <%= button_to url: @emaillink do %>
      <div class="btn btn-primary">Click to Login!</div>
    <% end %>
  </body>
</html>