<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>RAD Assignment</h1>
    <br>
    <h2>Done By:-</h2>
    <ul>
      <li>
        <h3>Adhiraj Jainam</h3>
        <p>s3821245</p>
      </li>
      <li>
        <h3>Jainam Doshi</h3>
        <p>s3825891</p>
      </li>
    </ul>
  </body>
</html>