<div class="signupPage px-4 pb-3 d-flex flex-column">
    <div class="d-flex flex-row">
        <%= link_to root_path, {class: 'align-self-center'} do %>
         <i class="fa fa-times closebtn" aria-hidden="true"></i>
        <% end %>
        <h1 class="text-center py-2 m-3 flex-fill">SIGNUP</h1>
    </div>
    <div class="signup mx-3  justify-content-center">
        <div class="col-8 col-md-12">
            <h3>Join us ... to get the best that the world of fashion can offer.</h3>
        </div>
        <form action="/register" method='POST' class='validated-form signupForm' novalidate>
            <div class='mb-3'>
                <input class='form-control' type="text" id='username' name='username' placeholder="Name" autofocus required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class='mb-3'>
                <input class='form-control' type="email" id='email' name='email' placeholder="Email" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class='mb-3'>
                <input class='form-control' type="password" id='password' name='password' placeholder="Password" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class='mb-3'>
                <input class='form-control' type="password" id='password' name='password' placeholder="Re-Enter Password" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn w-100">Signup</button>
            </div>
        </form>
        <div class="belowLink d-flex d-block align-items-center justify-content-center pt-3 mt-5">
            <%= link_to "Already a User?", new_session_path, {class: 'belowLinkText'} %>
        </div>
    </div>
</div>