<div class="main-body">
  <h3>
    Shopping Bag
    <small class="text-muted">Have a great shopping!</small>
  </h3>
  <% if @cart.cart_items.count > 0 %>
    <ul class="cartItems d-flex flex-row flex-wrap justify-content-around">
      <% @cart.cart_items.each do |cart_item| %>
          <%= render "cart_items/show", item: cart_item %>
      <% end %>
    </ul>
  <% end %>
  <h3>Sub total: <%= number_to_currency(totalPrice(@cart)) %></h3>
  <%= link_to "Checkout", cart_path(@cart.id), method: "put", class: "link" %><br>
</div>