header {
    
    .title {
      font-size: 4rem;
    }
    
    .navbar-nav {
      .nav-link {
         font-size: 4rem; 
      }
    }
    
    
    .navbar-collapse {
      height: 50vh;
    }
    
    .navbar-toggle.collapsed .icon:before {
      content: '\f00d';
    }
    
     .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
    
    // .navbar-toggler {
    //     flex
    // }
    
  .fa {
     &:before {
      color: black;
      font-size: 3rem;
    }
  }
}

.card {
  position: relative;
  
  .savedlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3.5rem;
    background: linear-gradient(#EDE574, #E1F5C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
}

.popular-items-wrapper {
  position: relative;
  
  .savedlist-btn {
    position: absolute;
    top: 295px;
    right: 11px;
    background: none;
    border: none;
    
    i {
      font-size: 4.5rem;
      color: white;
    }
  }
}

.link {
  text-decoration: none;
  color: grey;
  outline: none;
  border: none;
  background-color: white;
  margin: 20px 0;
  
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.footer {
  padding: 0;
  background-color: grey;
  position: fixed;
  width: 100vw;
  bottom: 0;
  
  .footer-options {
    margin: 0;
    padding: 0;
    height: 10vh;
    list-style-type: none;
    width: 100%;
    
    .file_field{
      display: none;
    }
    
    .option {
      flex-grow: 4;
      height: 100%;
      width: 100%;
      border: solid grey;
      
      .link {
        margin: 0;
        height: 100%;
        width: 100%;
        
        .option-icon {
          font-size: 5rem;
        }
        .option-title {
          font-size: 3.5rem;
        }
      }
    }
  }
}

.main-body {
  margin-top: 7.5rem;
  padding-bottom: 12rem;
}