<%= button_to savedlist_path(@currentUserSavedlist.id, product_id: item.id), method: :put, class: "link" do %>
    <div class="card" style="width: 18rem;">
        <img src="<%= item.ppictures.first.photoURL %>" class="card-img-top" alt="...">
        <div class="card-body" >
            <h3 class="card-title"><%= item.name %></h3>
            <h5 class="card-title"><%=  number_to_currency(item.price) %></h5>
        </div>
        <% if item.savedlists.find_by(id: @currentUserSavedlist.id) %>
            <i class="fa fa-check-circle"></i>
        <% end %>
    </div>
<% end %>