<h2>All Products</h2>

<% @products.each do |product| %>
  <p>Name: <%= product.name %>; unit price of <%= number_to_currency(product.price) %></p>
  <p>
    <% if (!isProductInSavedlist(product)) %>
      <%= button_to "Add #{product.name} to cart", savedlist_update_path(:product_id => product.id) %>
    <% else %>
      <%= button_to "Delete #{product.name} to cart", savedlist_update_path(:product_id => product.id) %>
    <% end %>
  </p>
<% end%>
