<h2>All Products</h2>
<div class="d-flex flex-row flex-wrap justify-content-around mt-5 pt-5">
  <% @products.each do |product| %>
  <%= render 'products/product', item: product %> 
  <% end%>
</div>
